# Xcode
DerivedData/
build/
*.xcworkspace/xcuserdata/
*.xcodeproj/xcuserdata/
*.xcuserstate

# SwiftPM
.build/
.swiftpm/
Package.resolved

# Firebase
GoogleService-Info.plist
.firebase/
firebase-debug.log

# macOS
.DS_Store

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots
fastlane/test_output
