# Xcode
DerivedData/
build/
*.xcworkspace/xcuserdata/
*.xcodeproj/xcuserdata/
*.xcuserstate

# SwiftPM
.build/
.swiftpm/
Package.resolved
!SpotRelay.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/Package.resolved

# Firebase
GoogleService-Info.plist
.firebase/
firebase-debug.log
functions/lib/
functions/node_modules/

# macOS
.DS_Store

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots
fastlane/test_output
